header{
    height: 200px;
    background-color:#F5D9A5;
}

aside{
    height: 200px;
    background-color:#DEBB8A;
    float: left;
    width:50%;
}

section{
    height: 200px;
    background-color:#FAC48E;
    float: right;
    width:50%;
}

footer{
    height: 100px;
    background-color:#DEC68A;
    clear: both;
}