container{
    background-color: aquamarine;
    width: 980px;
    margin: 0px auto;
    text-align: center
}
body{
    background-color: rgb(113, 156, 248);
    color:rgb(49, 167, 235)
    margin: 0px auto；

}

nav{
    background-color: rgb(178, 194, 249);
    text-align: center;
}

nav li{
    list-style-type:none;
    display: inline-block;
}

nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}

nav li a:hover{
    background-color: lightyellow;
    color:red
}
header{
    height: 200px;
    background-color:#F5D9A5;
}

aside{
    height: 200px;
    background-color:#000000;
    float: left;
    width:20%;
}

section{
    height: 200px;
    background-color:#FAC48E;
    float: right;
    width:80%;
}

footer{
    height: 100px;
    background-color:#DEC68A;
    clear: both;
}

.post{
    text-align: center;
    padding: 10px;
    float: left;
}
h1{
    width: 550px;
    margin: 30px auto;
    padding: 30px;
    border: 5px solid #e7caca;
    background-color: rgb(149, 181, 246);
    color:rgb(243, 36, 36);
    font: size 300%;
    text-align: center
    line: height 1px;
}

main{
    width: 980px;
    background-color: rgb(52, 222, 177);
    margin:0px auto；
    padding: 40px 80px;
    border: 1px solid #f6bb9e；
    text: alig left -240px;
}
h2{
    padding: 10px;
    margin-bottom: 30px;
    border-left: 10px solid #3403a5
}
