container{
    background-color: aquamarine;
    width: 980px;
    margin: 0px auto;
    text-align: center
}
body{
    background-color: rgb(113, 156, 248);
    color:rgb(49, 167, 235)
    margin: 0px auto；

}
h1{
    width: 550px;
    margin: 30px auto;
    padding: 30px;
    border: 5px solid #e7caca;
    background-color: rgb(149, 181, 246);
    color:rgb(243, 36, 36);
    font: size 300%;
    text-align: center
    line: height 1px;
}

main{
    width: 980px;
    background-color: rgb(52, 222, 177);
    margin:0px auto；
    padding: 40px 80px;
    border: 1px solid #f6bb9e；
    text: alig left -240px;
}
h2{
    padding: 10px;
    margin-bottom: 30px;
    border-left: 10px solid #3403a5
}
