#container{
    background-color: aquamarine;
    width: 980px;
    margin: 0px auto;
}
body{
    background-color: rgb(113, 156, 248);
    color:rgb(49, 167, 235)
    margin: 0px auto；

}
h1{
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #e7caca;
    background-color: rgb(59, 117, 243);
    color:rgb(243, 36, 36);
    font: size 300%;
    text-align: center；
    line-height: 1；
}